* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: darkmagenta;
    background-image: url(./images/background.jpg);
    background-color: white;
    display: flex;
    flex-direction: column;
}
header {
    padding: 45px 50px;
    background-color: lightpink;
    justify-content: space-between;
}

header h1 {
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    display: inline;
}

header img {
    border-radius: 50%;
    display: inline;
    float: left;
    width: 100px;

}
header nav {
    float: right;
    margin: 10px 0;
    padding: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 30px;
    display: inline;
}

section {
    padding: 60px;
}

.section-title {
    font-size: 40px;
    color: indigo;
    margin: 0 1.5%;
    width: 30%;
    float: left;
}

.content {
    display: inline;
    font-size: 20px;
    text-align:end;
}
.text-right {
    text-align: right;
    background-color: white;
    
}
.text-left {
    text-align: left;
}

.run-buddy {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.run-buddy img {
    color: white;
    height: 75%;
    width: 80%;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.robot {
    float: right;
    flex-wrap: wrap;
}
.chess img {
    width: 50%;
    height: 50%;
    float: right;
    flex-wrap: wrap;
}